<section>
  <form [formGroup] = "CreateForm">
    <div class="form-row col-md-10">
      <div class="form-group col-md-3">
        <label for="DateLog">Fecha De Registro</label>
        <input type="date" formControlName="DateLog" name="DateLog" class="form-control" required [(ngModel)] = "diving.DateLog">
      </div>
      <div class="form-group col-md-3">
        <label for="DivingPermit">Permiso de Buceo</label>
        <select type = "text"  formControlName="DivingPermit" name="DivingPermit" class="form-control" required [(ngModel)] = "diving.DivingPermit" >
          <option selected >Todas</option>
        </select>
      </div>
    </div>
    <div class="form-row col-md-10">
      <div class="form-group col-md-4">
        <label for="WindDirection">Direccion del Viento(ND)</label>
        <input type="text"  formControlName="WindDirection" name="WindDirection" class="form-control"required [(ngModel)] = "diving.WindDirection"  >
      </div>
      <div class="form-group col-md-2">
        <label for="text">Altura Ola(M)</label>
        <input type="number"  formControlName="WaveHeight" name="WaveHeight" class="form-control" required [(ngModel)] = "diving.WaveHeight">
      </div>
    </div>
    <div class="form-row col-md-10">
      <div class="form-group col-md-4">
        <label for="text">Corriente Superficial(ND)</label>
        <input type="number"  formControlName="SurfaceCurrent" name="SurfaceCurrent" class="form-control" required  [(ngModel)] = "diving.SurfaceCurrent">
      </div>
      <div class="form-group col-md-2">
        <label for="text">Numero de Buzos</label>
        <input type="number"  formControlName="DiversNumber" name="DiversNumber" class="form-control" required [(ngModel)] = "diving.DiversNumber" >
      </div>
    </div>
    <div class="form-row col-md-10">
      <div class="form-group col-md-6">
        <label for="text">Observaciones</label>
        <textarea formControlName="Observations" name="Observations" type="text" class="form-control" [(ngModel)] = "diving.Observations" required></textarea>
      </div>
    </div>
    <div class="form-row col-10">
      <div class="form-group col-md-1">
        <button [disabled] = "!CreateForm.valid" (click)="CreateDivingLog()" class="btn btn-success">Guardar</button>
      </div>
      <div class="form-group col-md-1">
        <button routerLink="" class="btn btn-dark" >Atrás</button>
      </div>
      </div>
  </form>
</section>
